.div-centrado{
	position:absolute;
     top: 20%;
     left: 0;
     bottom: 0;
     right: 0;
     margin:auto;
}

.treeview{
   height:170px;
   max-height: 170px;
   overflow:scroll;
}

.tabla-overflow{
	width:800px;
	max-width: 800px;
	height:500px;
	max-height: 500px;
    overflow:scroll;
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}